<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

  <insert id="add" parameterType="Model.member">
  	insert into member(name,username,password) values(#{name},#{username},#{password})
  </insert>
  
  <select id="queryAll" resultType="Model.member">
  	select * from member
  </select>
  
  <select id="queryId" resultType="Model.member">
  	select * from member where id=#{id}
  </select>
  
  <update id="update" parameterType="Model.member">
  	update member set name=#{name},username=#{username},username=#{username} where id=#{id}
  </update>

</mapper>